<div class="container">
    <h2 class="col-md-12 well">My Profile</h2>
    {{#if errors}} 
    {{#each errors}}
    <div class="alert alert-danger">{{msg}}</div>
    {{/each}} {{/if}}
    <div class="col-md-12 well">
        <div class="row">
            <form method="post" action="/users/profile" id="myProfileForm" enctype="multipart/form-data">
                <!-- left column -->
                
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label class="profilelabel">Full Name</label>
                            <input type="text" class="form-control" placeholder="Full Name" name="name" id="name" pattern="[A-Za-z' ]+" minlength="2" maxlength="80" value="{{user.name}}" disabled="disabled">
                        </div>
                        <input type="hidden" id="name2" name="name" value="{{user.name}}">
                        <div class="col-md-6 form-group">
                            <label  class="profilelabel" for="gender">Gender</label>
                            <select class="form-control" name="gender" id="gender" disabled="disabled">
                                {{#select user.gender}}
                                <option value="M">Male</option>
                                <option value="F">Female</option>
                                {{/select}}
                            </select>
                        </div>
                          <input type="hidden" id="gender2" name="gender" value="{{user.gender}}">
                    </div>
                    
                    <div class="row">
                        <div class="col-md-4 form-group">
                            <label  class="profilelabel" for="dob">Date of Birth</label>
                            <input class="form-control" id="dob" name="dob" placeholder="MM/DD/YYY" type="text" value="{{user.dob}}" disabled="disabled">
                        </div>
                        <input type="hidden" name="dob" value="{{user.dob}}"> 

                        <div class="col-md-4 form-group">
                            <label  class="profilelabel" for="weight">Weight in lbs</label>
                            <input type="number" class="form-control" max="400" placeholder="weigth" name="weight" id="weight" 
                            pattern="[0-9.]+" title="Weight must be anumber between 60 and 400 in lbs" min="60" minlength="2" maxlength="3" value="{{user.weight}}">
                         </div>
                    </div>

                        <div class="col-md-4 form-group">
                            <label   class="profilelabel" for="location">Location</label>
                            <input type="text" id="location" class="form-control" placeholder="City" name="location" pattern="[a-zA-Z\s]+" 
                            title="Location must contain only characters and spaces" value={{ user.location }}>
                        
                        </div>

                        <div class="col-md-4 form-group">
                            <label class="profilelabel" >Occupation</label>
                            
                            <select class="custom-select form-control" name="occupation">
                                {{#select user.occupation}}
                                <option value="1">Student</option>
                                <option value="2">Corporate</option>
                                {{/select}}
                            </select>
                        </div>

                        <div class="col-md-6 form-group">
                            <label  class="profilelabel" >Activity level</label>
                            
                            <select class="custom-select form-control" name="activity">
                                {{#select user.activity}}
                                <option value="1">Sedentary: Office worker getting little or no exercise</option>
                                <option value="2">Moderately active: Construction worker or person running one hour daily</option>
                                <option value="3">Vigorously active: non mechanized worker or person swimming two hours daily</option>
                                <option value="4">Extremely active: Competitive cyclist</option>

                                {{/select}}
                            </select>
                        </div>
                        


                    
                    <div class="col-md-6 form-group">
                        <label  class="profilelabel" for="email">Email</label>
                        <input type="email" class="form-control" placeholder="Email" name="email" id="email" value="{{user.email}}">
                    </div>
                    <div class="col-md-6 form-group">
                        <label  class="profilelabel" for="user_id">Username</label>
                        <input type="text" class="form-control" placeholder="Username" name="user_id" id="user_id" pattern="[a-zA-Z1-9]+[_]{0,1}[a-zA-Z0-9]+" minlength="2" maxlength="50" value="{{user.user_id}}" disabled="disabled">
                    </div>
                    <input type="hidden" id="user_id2" name="user_id" value="{{user.user_id}}">
                    <div class="col-md-6 form-group">
                        <label  class="profilelabel" for="newpassword">New Password</label>
                        <input type="password" class="form-control" placeholder="Password" name="newPwd" id="newpassword" value="{{user.newPwd}}">
                    </div>
                    <div class="col-md-6 form-group">
                        <label  class="profilelabel" for="newpasswordconfirm">Confirm New Password</label>
                        <input type="password" class="form-control" placeholder="Password" name="newPwdConfirm" id="newpasswordconfirm" value="{{user.newPwdConfirm}}">
                    </div>
                    {{!-- <button type="button" class="btn btn-lg btn-info">Submit</button> --}}
                    <button id="submit" type="submit" class="btn btn-default">Update Profile</button>
                    <br/>
                    <br/>
                    <button type="reset" class="btn btn-default" value="Reset">Reset</button>
                    <a href="#myModal" class="btn btn-default" data-toggle="modal">Delete my profile</a>

                    <input type="hidden" id="userId" name="_id" value="{{user._id}}">
                    <input type="hidden" id="userHashedPassword" name="hashedPassword" value="{{user.hashedPassword}}">
  
                </div>
            </form>
            <div id="myModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title">Confirmation</h4>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete your profile from WatchMyNutrition?</p>
                    <p class="text-warning"><small>If you do, all your data will be removed</small></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <a href="/users/logout" class="btn btn-primary" aria-hidden="true">Yes, I am sure</a>
                </div>
            </div>
        </div>
    </div>

        </div>
    </div>
</div>
<script src='https://cdn.jsdelivr.net/jquery.cloudinary/1.0.18/jquery.cloudinary.js' type='text/javascript'></script>
 <script src="//widget.cloudinary.com/global/all.js" type="text/javascript"></script>
