<div class="container">
    <h2 class="col-md-12 well">Register</h2>
    {{#if errors}} 
    {{#each errors}}
    <div class="alert alert-danger">{{msg}}</div>
    {{/each}} {{/if}}
    <div class="col-md-12 well">
        <div class="row">
            <form method="post" action="/users/register" id="registrationForm" enctype="multipart/form-data">
                <!-- left column -->
                
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label class="profilelabel" for="name">Full Name</label>
                            <input type="text" class="col-md-11" placeholder="Full Name" name="name" id="name" value={{ user.name }}>
                        </div>
                        <div class="col-md-4 form-group">
                            <label class="profilelabel">Gender</label>
                            <select class="custom-select form-control " name="gender">
                                {{#multiselect user.gender}}
                                <option value="M">Male</option>
                                <option value="F">Female</option>
                                {{/multiselect}}
                            </select>
                        </div>
                    </div>
                   
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label class="profilelabel" for="dob">Date of Birth</label>
                            <input class="form-control" id="dob" name="dob" placeholder="MM/DD/YYY" type="text" value={{ user.dob }}>
                        </div>
                        <div class="col-md-4 form-group">
                            <label class="profilelabel" for="weight">Weight in lbs</label>
                            <input type="text" class="form-control" max="400" placeholder="weigth" name="weight" id="weight" pattern="[0-9.]+" minlength="2" maxlength="3" value="{{user.weight}}">
                         </div>
                          <div class="col-md-6 form-group">
                            <label class="profilelabel" for="occupation">Occupation</label>
                            
                            <select class="custom-select form-control" name="occupation" id="occupation">
                                {{#select user.occupation}}
                                <option value="1">Student</option>
                                <option value="2">Corporate</option>
                                {{/select}}
                            </select>
                        </div>
                        <div class="col-md-4 form-group">
                            <label class="profilelabel" for="location">Location</label>
                            <input type="text" class="form-control" placeholder="Location" name="location"  id="location" value={{ user.location }}>
                        </div>
                       
                        <br/>
                        <br/>
                        <div class="col-md-6 form-group">
                            <label class="profilelabel" for="activity">Activity level</label>
                            
                            <select class="custom-select form-control" name="activity" id="activity">
                                {{#select user.activity}}
                                <option value="1">Sedentary: Office worker getting little or no exercise</option>
                                <option value="2">Moderately active: Construction worker or person running one hour daily</option>
                                <option value="3">Vigorously active: non mechanized worker or person swimming two hours daily</option>
                                <option value="4">Extremely active: Competitive cyclist</option>

                                {{/select}}
                            </select>
                        </div>
                    </div>
                    
                       
                    <div class="col-md-6 form-group">
                        <label class="profilelabel" for="email">Email</label>
                        <input type="email" class="form-control" placeholder="Email" name="email" id="email" value={{ user.email }}>
                    </div>
                    <div class="col-md-6 form-group">
                         <label class="profilelabel" for="user_id">Username</label>
                        <input type="text" class="form-control" placeholder="Username" name="user_id" id="user_id" value={{ user.user_id }}>
                    </div>
                    <div class="col-md-6 form-group">
                        <label class="profilelabel" for="password">Password</label>
                        <input type="password" class="form-control" placeholder="Password" name="password" id="password" value={{ user.password }}>
                    </div>
                    <div class="col-md-6 form-group">
                        <label class="profilelabel" for="password2">Confirm Password</label>
                        <input type="password" class="form-control" placeholder="Password" name="password2" id="password2" value={{ user.password2 }}>    
                    </div>
                    {{!-- <button type="button" class="btn btn-lg btn-info">Submit</button> --}}
                    <button id="submit" type="submit" class="btn btn-default">Submit</button>

                </div>
            </form>
        </div>
    </div>
</div>
<script src='https://cdn.jsdelivr.net/jquery.cloudinary/1.0.18/jquery.cloudinary.js' type='text/javascript'></script>
 <script src="//widget.cloudinary.com/global/all.js" type="text/javascript"></script>
